@import @/styles/helpers

.wrapper
    padding: 100px 0
    border-bottom: 1px solid $n4
    overflow: hidden
    +d
        padding: 50px 0


.head
    display: flex
    flex-wrap: wrap
    margin: 0 auto 69px
    align-items: flex-start
    justify-content: space-between
    +m
        max-width: 100%
        margin-bottom: 55px
        text-align: left
.title
    color: $n2
    text-align: left
    margin-bottom: 24px
    font-size: 80px
    line-height: 87px
    +t
        width: 100%
        font-size: 40px
        line-height: 47px

.subtitle
    color: $n2
    text-align: left
    margin-bottom: 24px
    +t
        text-align: center

.link
    +link
    margin-top: 10px
    +t
        margin-top: 24px

.titles
    width: 65%
    +t
        width: 100%

.list
    width: 100%
    display: flex
    flex-wrap: wrap

.item
    width: 25%
    border: 1px solid $n4
    padding: 40px 20px
    &:first-child
    +d
        width: 50%

.name
    margin-bottom: 10px
    line-height: 1
    font-size: 58px
    +t
        font-size: 50px
    +s
        font-size: 30px