[class^="container"]
    max-width: 1316px
    margin: 0 auto
    padding: 0 23px
    +m
        padding: 0 20px

.container-wide
    max-width: 100%

.container-large
    max-width: 1600px

.container-small
    max-width: 1230px
