.swiper {
  overflow-y: visible !important;
  display: flex !important;
  flex-direction: column;

  &-pagination-progressbar {
    position: relative !important;
    margin-top: 5px;
    max-width: 160px;
    order: 2;
  }

  &-counter {
    color: #585858;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    margin-top: 60px;
  }

  &-button {
    z-index: 4;

    &-next,
    &-prev {
      background: url('../../public/images/arrow.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;

      &::after {
        display: none;
      }
    }

    &-prev {
      transform: scale(-1);
      left: inherit !important;
      right: 45px !important;
    }
  }
}
