@import @/styles/helpers

.form_content
    background: $n0
    width: 50%
    padding-left: 50%
    min-height: 100vh
    padding: 70px
    display: flex
    align-items: center
    margin-left: 50%
    +d
        padding: 50px
    +t
        padding: 30px
        width: 100%
        margin: 0
        justify-content: center

.form
    width: 100%
    display: flex
    flex-wrap: wrap
    max-width: 580px
    gap: 18px
    justify-content: space-between

.disable
    .label
        top: 20px

.fieldset
    width: 100%
    display: flex
    flex-direction: column
    padding-top: 30px
    position: relative
    &_half
        width: 47%
        +s
            width: 100%
    &_focus
        .label
            top: 0
    &_loader
        padding: 0

.label
    color: $n6
    font-weight: 500
    width: 100%
    position: absolute
    transition: top .3s
    top: 0
    left: 0

.optional
    font-size: 16px
    color: $n3
    font-weight: 400

.tags
    width: 100%
    display: flex
    justify-content: flex-start
    gap: 7px
    flex-wrap: wrap
    margin-top: 10px


.tag
    border: 1px solid $n6
    padding: 7px 10px
    font-size: 16px
    border-radius: 8px
    background-color: $n8
    &:hover
        background-color: $n8 !important
        color: $n0 !important

.input
    border-bottom: 1px solid $n6
    transition: padding .5s
    background: transparent
    padding: 5px
    color: $n4
    font-size: 18px
    z-index: 2
    position: relative
    &:actived
        background: red

.error
    color: #B80000
    font-size: 14px

.file
    border: 1px dashed #808080
    padding: 20px
    display: flex
    align-items: center
    background: $n0
    gap: 10px
    transition: background .5s
    cursor: pointer
    &:hover
        background: $n1
    &>*
        color: $n6
        font-weight: 500

.file_item
    color: $n6
    font-weight: 500
    padding: 15px
    background: $n1
    svg
        margin-right: 5px

.button
    background: $c1
    padding: 20px 54px
    color: $n0
    &:hover
        background: $c1s1

.text_data
    font-size: 14px
    color: $n4

.checkbox_label
    font-size: 14px
    color: $n4
    input
        margin-right: 7px



.loader
    width: 0
    height: 4.8px
    display: inline-block
    position: relative
    background: $c1
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5)
    box-sizing: border-box
    animation: animFw 8s linear infinite
    &::after,
    &::before
        content: ''
        width: 10px
        height: 1px
        background: $c1
        position: absolute
        top: 9px
        right: -2px
        opacity: 0
        transform: rotate(-45deg) translateX(0px)
        box-sizing: border-box
        animation: coli1 0.3s linear infinite
    &::before
        top: -4px
        transform: rotate(45deg)
        animation: coli2 0.3s linear infinite

@keyframes animFw
    0%
        width: 0

    100%
        width: 100%

@keyframes coli1
    0%
        transform: rotate(-45deg) translateX(0px)
          opacity: 0.7
    100%
        transform: rotate(-45deg) translateX(-45px)
        opacity: 0

@keyframes coli2
    0%
        transform: rotate(45deg) translateX(0px)
        opacity: 1

    100%
        transform: rotate(45deg) translateX(-45px)
        opacity: 0.7

.div_sended
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    gap: 30px

.title
    font-size: 50px
    color: $n6
    text-align: center