@import @/styles/helpers

.burger
    position: relative
    z-index: 20
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-shrink: 0
    width: 40px
    height: 40px
    &:before
        content: ""
        position: absolute
        top: 3px
        left: 3px
        right: 3px
        bottom: 3px
        border-radius: 1px
        transition: background .5s
    span
        position: relative
        display: flex
        justify-content: space-between
        width: 20px
        height: 6px
        margin: 2px 0
        &:before,
        &:after
            content: ""
            width: 6px
            height: 6px
            border-radius: 3px
            background: $n2
            transition: width .2s, background .2s
        &:nth-child(1)
            transform: translateY(5px) rotate(45deg)
        &:nth-child(2)
            transform: translateY(-5px) rotate(-45deg)
    &:hover
        svg
            opacity: .8
    &.active
        span
            &:before,
            &:after
                width: 12px
        &~.main_nav
            display: none
    svg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        box-shadow: -3px 10px 11px 2px rgba(0, 0, 0, 0.1)

.menu
    position: fixed
    top: 0
    left: 0
    z-index: 25
    display: flex
    width: 100%
    height: 100%
    padding: 12px
    background: rgba(0,0,0,.5)
    overflow: auto

.main_nav
    display: flex
    align-items: center
    border-left: 1px solid #80808082
    padding: 15px 0 15px 25px
    margin-left: 25px
    +s
        display: none

.link2
    +link
    +karla
    font-size: 18px
    color: $n1
    &::before
        background: $n1

.container
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    height: 100%
    padding: 80px 210px 50px
    overflow: hidden
    background: linear-gradient(176deg, rgba(160, 213, 204, 0.5) 0%, rgba(21, 21, 21, 0.95) 100%)
    border-radius: 20px
    backdrop-filter: blur(15px)
    +w
        padding: 100px 50px 40px
    +t
        padding: 100px 28px 30px
        border-radius: 12px

.nav
    position: relative
    align-items: flex-start
    z-index: 3
    display: flex
    flex-wrap: wrap
    margin: auto
    padding-bottom: 10px
    flex-direction: column
    max-height: 450px
    +s
        padding-bottom: 0
        border-bottom: 0
    @media (min-width: "1579px")
        margin-top: 50px

.nav2
    display: flex

.link
    margin: 7px 0
    padding-right: 40px
    color: $n2
    transition: color .2s
    z-index: 2
    position: relative
    +t
        font-size: 40px
        line-height: 48px
    +m
        margin: 7px 0
        font-size: 24px
        line-height: 30px
    &:hover,
    &.active
        color: $n0

.line
    position: relative
    z-index: 1
    display: flex
    align-items: flex-end
    margin-top: -70px
    width: 100%
    +t
        flex-direction: column
        align-items: stretch
        margin-top: 20px
    &>div:first-child
        width: 55%
        +t
            width: 100%
            margin-bottom: 20px

.menu_text
    color: $c1
    font-size: 32px
    font-weight: 600
    line-height: 1
    margin-bottom: 30px

.details
    width: 40%
    +t
        width: 100%

.note
    +base
    color: $n3
    display: flex
    flex-direction: column

.email
    +baseB
    color: $n1

.lines
    position: absolute
    top: 200px
    right: 0
    font-size: 0
    +w
        right: -40px
    +d
        top: 80px
        right: -80px
    +t
        width: 360px
        top: auto
        right: 0
        bottom: 0
    +m
        right: -96px
        width: 290px

.content
    position: relative
    &::before
        position: absolute
        width: 1px
        height: 100%
        background: $n3
        left: 45%
        content: ''
        top: 0
        +t
            display: none

.lower
    display: flex
    align-items: center
    z-index: 3
    position: relative
    justify-content: space-between
    &::before
        width: 60%
        height: 1px
        background: $n3
        content: ''
        +t
            width: 50%
    &_text
        color: $n3