@import @/styles/helpers

.wrapper
    padding-top: 100px
    overflow: hidden

.head
    display: flex
    flex-wrap: wrap
    margin: 0 auto 100px
    align-items: flex-start
    justify-content: space-between
    +m
        max-width: 100%
        text-align: left
.title
    color: $n2
    text-align: left
    margin-bottom: 10px
    +t
        width: 100%

.subtitle
    color: $n2
    text-align: left
    +t
        margin-bottom: 24px

.link
    +link
    margin-top: 10px
    +t
        margin-top: 24px

.titles
    width: 50%
    +t
        width: 100%

.list
    display: block
    border-top: 1px solid $n4
    width: 100%


.item
    display: flex
    align-items: center
    padding: 68px 142px
    border-bottom: 1px solid $n4
    justify-content: space-between
    transition: padding .5s, background .5s
    background: $n8
    gap: 20px
    flex-wrap: wrap
    &:hover
        background: $n7
        padding-bottom: 80px
        padding-top: 80px
    +d
        padding-left: 50px
        padding-right: 50px
    +s
        padding-left: 20px
        padding-right: 20px

.content
    width: 16%
    +d
        width: 100%

.position
    +roboto

.name
    font-size: 40px
    margin-top: 10px
    +d
        width: 100%

.text
    width: 35%
    padding-top: 24px
    +d
        width: 100%

.tags
    width: 40%
    display: flex
    justify-content: flex-end
    gap: 7px
    flex-wrap: wrap
    +d
        width: 100%
        justify-content: flex-start
    &>div:last-child
        .tag
            +roboto

.tag
    border: 1px solid $n2
    padding: 4px 10px
    font-size: 16px
    border-radius: 8px
    background-color: $n8
    &:hover
        background-color: $n7
