@import @/styles/helpers
@import @/styles/blocks/splide

.wrapper
    padding: 100px 0
    border-bottom: 1px solid $n4
    background-color: $n1
    overflow: hidden

.head
    display: flex
    flex-wrap: wrap
    margin: 0 auto 21px
    align-items: flex-start
    justify-content: space-between
    +m
        max-width: 100%
        text-align: left
.title
    color: $n9
    text-align: left
    margin-bottom: 24px
    +t
        width: 100%

.paragraph
    color: $n9
    text-align: left
    margin-bottom: 24px

.info
    padding-top: 20px
    +body2
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 44.5%
    +d
        width: 100%

.link
    +link
    font-weight: 500
    +t
        margin-top: 24px

.titles
    width: 53%
    +t
        width: 100%

.list
    width: 100%

.item
    background-color: #e7eae9
    padding: 15px 30px 30px
    border-radius: 8px

.logo
    display: flex
    align-items: center
    height: 85px

.image
    img
        width: 100%
        height: auto

.text
    color: $n9
    text-align: left
    margin-top: 24px
    margin-bottom: 24px
    height: 145px

.client
    border-top: 1px solid $n2
    padding-top: 20px

.name
    color: $n9
    font-weight: 600
    font-size: 18px

.position
    color: $n9
    font-size: 16px